.Gif {
  border: 1px solid #c86464;
  border-radius: 6px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin: 16px;
  padding: 32 px;
  width: 100%;
}

.Gif h4 {
    margin: 0;
}

.Gif img{
    object-fit: contain;
}
